body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#first-section{
    display: flex;
}

#second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#columnas{
    columns: 3;
}