#resaltado1{
    color: blue;
    background-color: #FFFF00;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}
#resaltado2{
    color: red;
    background-color: #00FF11;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}