h1{
    color: blue;
    background-color: red;
}
h2{
    color: yellow;
    background-color: purple;
}
h3{
    color: green;
    background-color: cyan;
}
h4{
    color: lime;
    background-color: violet;
}
h5{
    color: aquamarine;
    background-color: crimson;
}
h6{
    color: chartreuse;
    background-color:darkslategray;
}