body {
    font-family: 'Kanit', sans-serif;
    background-image: url(https://i.pinimg.com/originals/37/45/c3/3745c3e50e0e529a2b4e0c78637e1ce3.jpg);
    transition: 0.5s;
}

h1 {
    font-family: 'Kanit', sans-serif;
}

#formbox {
    border-top: 10px;
    box-shadow: 10%;
    border-radius: 37px;
    position: relative;
    background-color: rgba(235, 235, 235, 0.884);
    padding: 3rem;
}

input {
    background-color: #22db1c;
    border-color: #22db1c;
    transition: 0.5s;
}
button {
    background-color: #22db1c;
    border-color: #22db1c;
    transition: 0.5s;
    width: 120px;
}
textarea {
    min-height: 300px;
    max-height: 500px;
}